# Local secrets and keys
.env
.env.*
*.secret
*.key
*.pem
id_rsa
id_rsa.pub
*.ppk

# Local editor/runtime files
.DS_Store
node_modules/
.cache/

# Local dotfiles overrides
starship.toml.local
*.local

# Keep templates tracked
# (templates/ contains examples that should be committed)
*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*
history.txt




