/* Waybar colors */
:root {
  --background: 0f1417;
  --background-secondary: 1b2023;
  --background-tertiary: 262b2e;
  --foreground: dfe3e7;
  --foreground-light: dfe3e7;
  --primary: 8ecff2;
  --secondary: dfe3e7;
  --accent: 8ecff2;
  --error: ffb4ab;
  --success: c9c1ea;
  --warning: c9c1ea;
  --blue: b5c9d7;
}