@import url("colors.css");

@define-color warning #f9e2af;
@define-color error #f38ba8;

* {
  font-family: "GohuFont 11 Nerd Font", "Symbols Nerd Font", sans-serif;
  font-size: 11px;
}

window#waybar {
  background-color: alpha(@background, 0.5);
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0 2rem;
}

#window {
  padding: 0 10px;
}

#workspaces button {
  padding: 0 4px;
  color: @foreground;
}

#workspaces button.active {
  color: @primary;
  font-weight: bold;
}

#workspaces button.urgent {
  color: @error;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#custom-swaync {
  color: @foreground;
  background-color: alpha(@surface, 0.4);
  padding: 0 10px;
  margin: 0 4px;
  border-radius: 8px;
}

#battery.warning {
  color: @warning;
}

#battery.critical {
  color: @error;
}

#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover,
#custom-swaync:hover {
  background-color: alpha(@primary, 0.7);
}
