* {
    background:       #1a1110;
    background-alt:   #271d1c;
    background-trans: rgba(39, 29, 28, 0.6);
    bg:               #1a1110;
    foreground:       #f1dfdb;
    foreground-dim:   #d8c2be;
    selected:         #ffb4a7;
    selected-bg:      rgba(255, 180, 167, 0.15);
    active:           #e7bdb5;
    urgent:           #ffb4ab;
    urgent-bg:        rgba(255, 180, 171, 0.15);
}
