@import "/home/jllyn/.config/rofi/base.rasi"

/***** Window narrower for password dialogs *****/
window {
  width: 460px;
  padding: 10px 14px 16px;
}

/***** No listview in password dialogs *****/
mainbox {
  padding: 0;
}

inputbar {
  margin: 0 2px;
}

entry {
  placeholder: "Enter password...";
}

prompt {
  text-color: @urgent;
}
