* {
    font-family: ;
    background: transparent;
    color: #fcfcfc;
}

#window {
    color: #f59a9a;

    /* Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p */
    background-image: linear-gradient(to bottom, #141216 100%);
    border-radius: 1rem;
    opacity: 0.8;
}

#inner-box {
    padding-top: 12px;
}

#entry {
    border-style: none;
    padding: 6px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12;

    border-radius: 12px;
}

#entry:selected {
    background: #27232b;
    font-weight: bold;
    outline: none;
}

#prompt {
    color: #fcfcfc;
}

#input {
    background-color: #141216;
    color: #fcfcfc;

    border-style: none;

    font-style: normal;

    padding: 12px;
    margin: 8px;
}

#img {
    padding: 4px;
    margin-right: 6px;
}
