@import "base.rasi"

/***** Window narrower for password dialogs *****/
window {
  width: 460px;
  padding: 8px 10px 12px;
  border-radius: 0px;
}

/***** No listview in password dialogs *****/
mainbox {
  padding: 0;
}

/***** Input bar with blocky style *****/
inputbar {
  margin: 0 2px;
  padding: 8px;
  border-radius: 0px;
  background-color: @background-alt;
}

entry {
  placeholder: "Enter password...";
}

prompt {
  text-color: @urgent;
}
